body{
    background-color: lightcyan;
}
/* header section */
header{
    background-color: yellowgreen;
    margin: -5px 0;
    padding-top: 1px;
    padding-bottom: 1px;
}
#name{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px black;
}

/* banner section */

#banner{
    background-color: azure;
    border: 1px solid black;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1rem;
    border-radius: 1rem 0rem;
}
#banner-text{
    width: 50%;
    padding: 2rem;
}
h4{
    font-size: 30px;
    text-align: center;
}
#banner-text p{
    text-align: justify;
}
#banner-img{
    background-color: white;
    width: 50%;
    padding: 2rem;
    height: 20rem;
    border-radius: 5px;
}

#banner-img img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}